$color-primary: #AE0000;
$color-grey: #414141;
$color-white: #FFFFFF;
$color-text: #161616;
$color-text-grey: #16161680;
$color-background: #F5F5F1;
$color-disabled-bg: #0000000a;
$color-soft: #F5F5F533;
$color-border: #00000019;

$screen-sm: 475px;
$screen-md: 756px;
$screen-lg: 1024px;
$screen-xl: 1440px;
