@import 'assets/scss/variables';

input {
  height: 52px;
  border: solid 1px $color-border;
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  color: $color-text;
  border-radius: 4px;

  &.disabled {
    background-color: $color-disabled-bg;
  }

  &.full-width {
    width: 100%;
  }
}
